:root {
  --primary-color: #005cff;
  --secondary-color: #6220c1;

  --color-white: #ffffff;
  --color-white-02: #e7e7ea;
  --color-black: #000000;
  --color-gray: #838383;
  --color-blue: #00264e;
  --color-grenn-light: #5ec0be;
}

body {
  font-family: Nunito, sans-serif;
  margin: 0;
  padding: 0;
}

.discount-coupon {
  background-color: var(--primary-color);
  color: var(--color-white);
}

.discount-coupon p {
  margin-bottom: 5px;
  font-weight: bold;
}

.price {
  background-color: var(--secondary-color);
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 20px;
}

.logo img {
  width: 148.07px;
  height: 26.28px;
}

.cart img {
  width: 25.04px;
  height: 24.16px;
}

.nav-toggle {
  background: none;
  border: none;
  color: var(--color-black);
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-overlay {
  position: fixed;
  top: 10dvh;
  left: 0;
  width: 100%;
  height: 30dvh;
  z-index: 9999;
  padding: 20px;
  overflow-y: auto;
  background: linear-gradient(
    to right,
    var(--color-white-02) 0,
    var(--color-white-02) 180px,
    transparent 180px,
    transparent 100%
  );
  opacity: 95%;
}

.nav-overlay a {
  color: var(--primary-color);
  font-size: 1.2rem;
  display: block;
  margin-bottom: 16px;
}

.department-menu {
  position: relative;
  display: inline-block;
}

.dept-btn {
  background: none;
  border: none;
  color: var(--color-black);
  font-weight: bold;
  cursor: pointer;
  padding: 8px 12px;
}

.dept-btn:active,
.dept-btn:hover,
.department-grid a:active,
.department-grid a:hover {
  color: var(--primary-color);
}

.department-grid {
  position: absolute;
  top: -20px;
  left: 10rem;
  background-color: var(--color-white);
  padding: 16px;
  z-index: 1000;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 8px;
}

.department-grid a {
  text-decoration: none;
  color: var(--color-black);
  padding: 4px;
  display: block;
  text-align: center;
}

.search-bar-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: none;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  right: 16px;
  top: 25px;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
  font-size: 20px;
}

.banner {
  background-color: var(--color-white-02);
}

.tag {
  background-color: var(--color-blue);
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 10px;
  top: 12px;
  left: 8px;
}

.off {
  background-color: var(--color-grenn-light);
  color: var(--color-white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 11px;
}

.carousel-indicators {
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
}

.carousel-indicators button {
  border-radius: 50%;
  background-color: var(--color-gray) !important;
  border: none;
  opacity: 1;
  width: 7px !important;
  height: 7px !important;
}

.carousel-indicators .active {
  background-color: var(--color-black) !important;
}

.card-body h3,
.full-price,
.installments p {
  font-size: 12px;
}

@media (max-width: 575.98px) {
  .discount-coupon p,
  .discount-coupon span,
  .grid-container a,
  .dept-btn {
    font-size: 14px;
  }

  .selected-items {
    font-size: 8px;
  }

  .header {
    margin: 20px 13px;
  }

  .department-menu {
    display: block;
  }
}

/* @media (min-width: 768) {
} */

@media (min-width: 1280) {
  .search-bar-container {
    max-width: 594px;
  }
}
